In [2]:
import pandas as pd
import os
import warnings
warnings.filterwarnings('ignore')

In [3]:
path = "C:/Users/jonat/Documents/xpe/arquiteto_de_big_data/mod2/datasets-desm2/dados_jogadores.csv"

In [8]:
df = pd.read_csv(path, sep=';', encoding='latin-1')

In [10]:
df.head(10)

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,03/09/1990,Dama,Chile,14.0,0.0,14.0
1,Jogador 2,Feminino,01/05/1986,Jogo da velha,Chile,39.0,20.0,59.0
2,Jogador 3,Masculino,04/10/1964,Jogo da velha,Brasil,26.0,3.0,29.0
3,Jogador 4,Masculino,28/09/1979,Jogo da velha,Argentina,9.0,72.0,81.0
4,Jogador 5,Masculino,03/09/1978,Dama,Uruguai,1.0,54.0,55.0
5,Jogador 6,Masculino,04/11/1977,Xadrez,Brasil,88.0,0.0,88.0
6,Jogador 7,Masculino,11/11/1986,Xadrez,Argentina,53.0,24.0,77.0
7,Jogador 8,Feminino,18/03/1996,Jogo da velha,Brasil,35.0,27.0,62.0
8,Jogador 9,Masculino,14/01/1969,Dama,Paraguai,27.0,18.0,45.0
9,Jogador 10,Masculino,06/05/2004,Xadrez,Chile,4.0,1.0,5.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   jogador          499 non-null    object
 1   genero           499 non-null    object
 2   data_nascimento  499 non-null    object
 3   jogo             499 non-null    object
 4   pais             499 non-null    object
 5   num_vitorias     491 non-null    float64
 6   num_derrotas     494 non-null    float64
 7   total_partidas   491 non-null    float64
dtypes: float64(3), object(5)
memory usage: 31.3+ KB

In [12]:
df.describe()

       num_vitorias  num_derrotas  total_partidas
count    491.000000    494.000000      491.000000
mean      25.150713     22.872470       47.892057
std       21.062049     21.326733       28.231452
min        1.000000      0.000000        1.000000
25%        8.000000      6.000000       24.000000
50%       20.000000     16.500000       45.000000
75%       38.000000     34.000000       73.000000
max       93.000000     92.000000      100.000000

### TRANSFORMANDO AS COLUNAS num_vitorias num_derrotas total_partidas PARA INTEIRO

In [14]:
df['num_vitorias'].fillna(0, inplace=True)
df['num_derrotas'].fillna(0, inplace=True)
df['total_partidas'].fillna(0, inplace=True)

df['num_vitorias'] = df['num_vitorias'].astype(int)
df['num_derrotas'] = df['num_derrotas'].astype(int)
df['total_partidas'] = df['total_partidas'].astype(int)

In [15]:
df.head(10)

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,03/09/1990,Dama,Chile,14,0,14
1,Jogador 2,Feminino,01/05/1986,Jogo da velha,Chile,39,20,59
2,Jogador 3,Masculino,04/10/1964,Jogo da velha,Brasil,26,3,29
3,Jogador 4,Masculino,28/09/1979,Jogo da velha,Argentina,9,72,81
4,Jogador 5,Masculino,03/09/1978,Dama,Uruguai,1,54,55
5,Jogador 6,Masculino,04/11/1977,Xadrez,Brasil,88,0,88
6,Jogador 7,Masculino,11/11/1986,Xadrez,Argentina,53,24,77
7,Jogador 8,Feminino,18/03/1996,Jogo da velha,Brasil,35,27,62
8,Jogador 9,Masculino,14/01/1969,Dama,Paraguai,27,18,45
9,Jogador 10,Masculino,06/05/2004,Xadrez,Chile,4,1,5

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   jogador          499 non-null    object
 1   genero           499 non-null    object
 2   data_nascimento  499 non-null    object
 3   jogo             499 non-null    object
 4   pais             499 non-null    object
 5   num_vitorias     499 non-null    int32
 6   num_derrotas     499 non-null    int32
 7   total_partidas   499 non-null    int32
dtypes: int32(3), object(5)
memory usage: 25.5+ KB

In [18]:
df['data_nascimento'] = pd.to_datetime(df['data_nascimento'], format='%d/%m/%Y')

## Pergunta 1 
## Qual é a idade média dos colaboradores do sexo masculino que estão casados?

In [157]:
filtered_df = df[(df['sexo_colaborador'] == 'Masculino') & (df['estado_civil'] == 'Casado(a)')]

filtered_df['idade'] = (pd.to_datetime('today') - pd.to_datetime(filtered_df['data_nascimento'])).dt.days // 365

idade_media = filtered_df['idade'].mean()
idade_media = round(idade_media, 2)
idade_media

42.96

## Pergunta 2
## Qual é o motivo de licença que foi mais frequentemente solicitado por mulheres com mais de 35 anos?

In [158]:

df['data_nascimento'] = pd.to_datetime(df['data_nascimento'])

filtered_df = df[(df['sexo_colaborador'] == 'Feminino') & (df['data_nascimento'].dt.year < (pd.to_datetime('today').year - 35))]

frequent_motivo = filtered_df['motivo_licenca'].value_counts()

motivo_mais_frequente = frequent_motivo.idxmax()
motivo_mais_frequente

'Comum'

## Pergunta 3
## Qual médico atendeu o maior número de colaboradores do estado de Minas Gerais?

In [159]:
filtered_df = df[df['estado_colaborador'] == 'Minas Gerais']

contagem_medicos = filtered_df['nome_medico'].value_counts()

medico_mais_atendimentos = contagem_medicos.idxmax()
medico_mais_atendimentos

'Dr. Pedro'

## Pergunta 4
## Qual estado tem o maior número de pessoas com ensino superior que têm a leitura como hobbie?

In [160]:
filtered_df = df[(df['escolaridade'] == 'Superior') & (df['hobbie'] == 'Leitura')]

# estado_maior_numero_pessoas = filtered_df['estado_colaborador'].value_counts().idxmax()
# estado_maior_numero_pessoas

contagem_por_estado = filtered_df['estado_colaborador'].value_counts()
contagem_por_estado

estado_colaborador
Acre                  5
Roraima               5
Mato Grosso           5
Espírito Santo        4
Maranhão              4
Rondônia              4
Pernambuco            4
Ceará                 4
Sergipe               4
Amazonas              3
São Paulo             3
Distrito Federal      3
Paraíba               3
Minas Gerais          3
Santa Catarina        3
Mato Grosso do Sul    3
Paraná                2
Goiás                 2
Tocantins             2
Bahia                 1
Pará                  1
Rio Grande do Sul     1
Amapá                 1
Rio de Janeiro        1
Alagoas               1
Name: count, dtype: int64

## Pergunta 5
## Qual é o número de pessoas com ensino superior que são naturais ou pertencem ao estado de Pernambuco?

In [161]:
filtro_pernambuco = df['estado_colaborador'] == 'Pernambuco'
filtro_superior = df['escolaridade'] == 'Superior'
total_pernambuco_superior = len(df[filtro_pernambuco & filtro_superior])
total_pernambuco_superior

10

## Pergunta 6
## Calcule a média de filhos entre todas as pessoas atendidas pelo Dr. Lessa e assinale a alternativa CORRETA.

In [162]:
filtered_df = df[df['nome_medico'] == 'Dr. Lessa']

media_filhos = filtered_df['qtd_filhos'].mean()

media_feminino = filtered_df[filtered_df['sexo_colaborador'] == 'Feminino']['qtd_filhos'].mean()

media_masculino = filtered_df[filtered_df['sexo_colaborador'] == 'Masculino']['qtd_filhos'].mean()

print(f"A média de filhos entre todas as pessoas atendidas é: {media_filhos:.2f}")
print(f"A média de filhos para colaboradores do sexo feminino é: {media_feminino:.2f}")
print(f"A média de filhos para colaboradores do sexo masculino é: {media_masculino:.2f}")

A média de filhos entre todas as pessoas atendidas é: 2.54
A média de filhos para colaboradores do sexo feminino é: 2.38
A média de filhos para colaboradores do sexo masculino é: 2.70

#### Resposta:
#### A média de filhos entre os colaboradores do sexo masculino é superior à média das colaboradoras do sexo feminino.

## Pergunta 7
## Qual colaborador possui o maior salário na base de dados?

In [163]:
colaborador_maior_salario = df[df['salario'] == df['salario'].max()]

colaborador_maior_salario = colaborador_maior_salario[['nome_colaborador', 'salario']]

colaborador_maior_salario

  nome_colaborador   salario
0    Nathan Barros  28543.95

## Pergunta 8
## Qual estado apresenta a maior média salarial entre os colaboradores?

In [164]:
media_salarial_por_estado = df.groupby('estado_colaborador')['salario'].mean()

estado_maior_media_salarial = media_salarial_por_estado.idxmax()
maior_media_salarial = media_salarial_por_estado.max()

print(f"O estado com a maior média salarial entre os colaboradores é {estado_maior_media_salarial} com uma média salarial de R${maior_media_salarial:.2f}.")

O estado com a maior média salarial entre os colaboradores é Minas Gerais com uma média salarial de R$6193.15.

## Pergunta 9
## Qual licença teve a menor média de duração entre os colaboradores?

In [165]:
media_duracao_por_motivo = df.groupby('motivo_licenca')['duracao_licenca'].mean()

motivo_menor_media_duracao = media_duracao_por_motivo.idxmin()

menor_media_duracao = media_duracao_por_motivo.min()

print(f"O motivo de licença com a menor média de duração entre os colaboradores é '{motivo_menor_media_duracao}' com uma média de duração de {menor_media_duracao:.2f} dias.")

O motivo de licença com a menor média de duração entre os colaboradores é 'Acidente de trabalho' com uma média de duração de 14.96 dias.

## Pergunta 10
## Qual especialidade realizou o maior número de atendimentos?

In [166]:
contagem_atendimentos_por_especialidade = df['especialidade'].value_counts()

especialidade_maior_atendimentos = contagem_atendimentos_por_especialidade.idxmax()

maior_numero_atendimentos = contagem_atendimentos_por_especialidade.max()

print(f"A especialidade que realizou o maior número de atendimentos é '{especialidade_maior_atendimentos}' com um total de {maior_numero_atendimentos} atendimentos.")

A especialidade que realizou o maior número de atendimentos é 'Clínico geral' com um total de 253 atendimentos.

# Questoes objetivas

## Pergunta 11
## Sobre os dados não estruturados, todas as afirmativas estão corretas, EXCETO:


1. Não são alinhados ou padronizados
2. Possuem estrutura flexível e dinâmica
3. Possuem estrutura pré-definida
4. É encontrado em sites, jornais, áudios, vídeos.

### Resposta: Não são alinhados ou padronizados

## Pergunta 12
## De acordo com o conceito de Web Semântica, podemos afirmar que:


1. Foi pensada para um novo layout nas páginas da internet.
2. Deseja tornar as pesquisas mais amplas, trazendo vários resultados diferentes para a mesma pesquisa e, assim, ter mais chances de acertar o desejo do pesquisador.
3. Ela visa tornar o browser um assistente que orienta o usuário através de uma interação inteligente.
4. Deseja substituir a web tradicional com suas modificações.
s.

### Resposta: Ela visa tornar o browser um assistente que orienta o usuário através de uma interação inteligente.

## Pergunta 13
## Para instalar uma biblioteca no ambiente de uma virtual env, devemos:
1. Utilizar o comando pip install –h + pip list + o nome da biblioteca
2. Nenhuma das alternativas.
3. Utilizar o comando pip list + python –r + o nome da biblioteca
4. Utilizar o comando pip install –p python3 + nome da bibliotecalioteca

### Resposta: Nenhuma das alternativas.

## Pergunta 14
## Sobre a  linguagem DCL, é CORRETO afirmar:

1. É uma linguagem utilizada para gerenciar permissões de acesso para usuários e objetos.
2. É uma linguagem utilizada para controle de transação.
3. Nenhuma das alternativas.
4. INSERT, SELECT e UPDATE são comandos dessa linguagem.

### Resposta: É uma linguagem utilizada para gerenciar permissões de acesso para usuários e objetos.

## Pergunta 15
## Qual dos scripts abaixo é utilizado para recuperar o número total de pessoas que responderam à pesquisa e indicaram que gostam de cachorros?
    ```
    select ae.animal, count(*) total
    
    from pesquisa p 
    
    inner join animal_estimacao ae 
    
    on p.cod_animal_estimacao = ae.cod_animal_estimacao 
    
    where ae.animal > 'cachorro'
    
    group by animal

    
    select ae.animal, count(1) total
    
    from pesquisa p 
    
    inner join animal_estimacao ae 
    
    on p.cod_animal_estimacao = ae.cod_animal_estimacao 
    
    where ae.animal = 'cachorro'
    
    group by animal
    
    
    select ae.animal, sum(1) total
    
    from pesquisa p 
    
    inner join animal_estimacao ae 
    
    on p.cod_animal_estimacao = ae.cod_animal_estimacao 
    
    where ae.animal = 'cachorro'
    
    group by animal
    
    
    select ae.animal, count(1) total
    
    from pesquisa p 
    
    inner join animal_estimacao ae 
    
    on p.cod_animal_estimacao = ae.cod_animal_estimacao 
    
    where ae.animal <> 'cachorro'
    
    group by animal
    ```

### Resposta

    select ae.animal, count(1) total
    
    from pesquisa p 
    
    inner join animal_estimacao ae 
    
    on p.cod_animal_estimacao = ae.cod_animal_estimacao 
    
    where ae.animal = 'cachorro'
    
    group by animal

FIM