In [ ]:
import pandas as pd
import os

In [4]:
dir = "C:\\Users\\jonat\\Documents\\xpe\\arquiteto_de_big_data\\mod2\\datasets"

In [9]:
lista_path = os.listdir(dir)

In [10]:
lista_path[:5]

['2020-01-01.csv',
 '2020-01-02.csv',
 '2020-01-03.csv',
 '2020-01-04.csv',
 '2020-01-05.csv']

In [13]:
lista_df = []
for arquivo in lista_path:
    local_arquivo = os.path.join(dir, arquivo)
    df = pd.read_csv(local_arquivo, sep = '|', encoding='latin-1')
    lista_df.append(df)
df_vendas = pd.concat(lista_df)

In [15]:
df_vendas[:10]

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies
0,10141743,2020-01-01,Masculino,1981-04-25,peixe,frio,Cerveja,Praticar esporte
1,10141860,2020-01-01,Feminino,1966-01-19,peixe,quente,Café,Assistir TV
2,10142548,2020-01-01,Masculino,1973-08-02,tartaruga,frio,Café,Ler livros
3,10142591,2020-01-01,Masculino,1997-03-05,gato,moderado,Cerveja,Aprender algo novo
4,10142654,2020-01-01,Feminino,1969-08-05,tartaruga,moderado,Café,Assistir TV
0,10141523,2020-01-02,Feminino,1998-09-24,gato,quente,Cerveja,Aprender algo novo
1,10141996,2020-01-02,Feminino,1973-03-13,tartaruga,quente,refrigerante,Escrever
2,10142089,2020-01-02,Feminino,1970-03-23,gato,moderado,Água,Pintar quadros
3,10142145,2020-01-02,Masculino,1998-08-01,peixe,frio,refrigerante,Escrever
4,10142520,2020-01-02,Masculino,1994-05-09,peixe,moderado,Café,Praticar esporte

In [18]:
df_vendas.to_csv(dir,  'vendas_por_data.csv', sep='|', encoding='latin-1', index=False)