In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
path = "C:/Users/jonat/Documents/xpe/arquiteto_de_big_data/mod2//cientista de dados/all_stocks_5yr.csv"

In [4]:
df = pd.read_csv(path, sep=',', encoding='latin-1')
df

              date   open   high    low  close    volume Name
0       2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1       2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2       2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3       2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4       2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL
...            ...    ...    ...    ...    ...       ...  ...
619035  2018-02-01  76.84  78.27  76.69  77.82   2982259  ZTS
619036  2018-02-02  77.53  78.12  76.73  76.78   2595187  ZTS
619037  2018-02-05  76.64  76.92  73.18  73.83   2962031  ZTS
619038  2018-02-06  72.74  74.56  72.13  73.27   4924323  ZTS
619039  2018-02-07  72.70  75.00  72.69  73.86   4534912  ZTS

[619040 rows x 7 columns]

## Pergunta 1
## Quantos registros há na planilha?

In [5]:
# Obtém a contagem de registros (linhas) e colunas
num_rows, num_columns = df.shape

print(f"Número de registros na planilha: {num_rows}")

Número de registros na planilha: 619040

## Pergunta 2
## Quantos registros há na planilha para a ação da Apple (AAPL)?

In [6]:
# Filtra o DataFrame para incluir apenas a ação da Apple (AAPL)
aapl_df = df[df['Name'] == 'AAPL']

# Obtém a contagem de registros para a ação da Apple
num_rows_aapl = aapl_df.shape[0]

print(f"Número de registros para a ação da Apple (AAPL): {num_rows_aapl}")

Número de registros para a ação da Apple (AAPL): 1259

## Pergunta 3
## Quantas empresas distintas têm registros nessa planilha?

In [7]:
# Conta o número de empresas distintas na coluna 'Name'
num_empresas_distintas = df['Name'].nunique()

print(f"Número de empresas distintas na planilha: {num_empresas_distintas}")

Número de empresas distintas na planilha: 505

## Pergunta 4
## Com qual frequência o preço de uma ação no fechamento é maior do que o preço na abertura?

In [8]:

# Calcula a frequência
frequencia = (df['close'] > df['open']).sum()

# Calcula a proporção em relação ao número total de registros
proporcao = frequencia / len(df)

print(f"Frequência de fechamento maior que abertura: {frequencia} vezes")
print(f"Proporção: {proporcao:.2%}")

Frequência de fechamento maior que abertura: 318970 vezes
Proporção: 51.53%

## Pergunta 5
## Qual o maior valor das ações da Apple (AAPL) na história?

In [9]:

# Filtra o DataFrame para incluir apenas a ação da Apple (AAPL)
aapl_df = df[df['Name'] == 'AAPL']

# Encontra o maior valor na coluna 'high' para a AAPL
maior_valor_aapl = aapl_df['high'].max()

print(f"Maior valor das ações da Apple (AAPL) na história: {maior_valor_aapl}")

Maior valor das ações da Apple (AAPL) na história: 180.1

## Pergunta 6
## Qual ação tem a maior volatilidade? Uma forma é medir o desvio-padrão do preço de fechamento de cada ação e considerar a ação de maior desvio-padrão.

In [10]:

# Calcula o desvio-padrão do preço de fechamento para cada ação
volatilidade_por_acao = df.groupby('Name')['close'].std()

# Encontra a ação com a maior volatilidade
acao_maior_volatilidade = volatilidade_por_acao.idxmax()
maior_volatilidade = volatilidade_por_acao.max()

print(f"Ação com a maior volatilidade: {acao_maior_volatilidade}")
print(f"Maior volatilidade: {maior_volatilidade}")

Ação com a maior volatilidade: PCLN
Maior volatilidade: 320.533473018748

## Pergunta 7
## Qual o dia com maior volume total de negociação da bolsa?

In [11]:

# Converte a coluna 'date' para o tipo datetime para facilitar manipulações
df['date'] = pd.to_datetime(df['date'])

# Calcula o volume total para cada dia
volume_total_por_dia = df.groupby('date')['volume'].sum()

# Encontra o dia com o maior volume total
dia_maior_volume = volume_total_por_dia.idxmax()
maior_volume = volume_total_por_dia.max()

print(f"Dia com maior volume total de negociação: {dia_maior_volume}")
print(f"Maior volume total: {maior_volume}")

Dia com maior volume total de negociação: 2015-08-24 00:00:00
Maior volume total: 4607945196

## Pergunta 8
## Qual a ação mais negociada da bolsa, em volume de transações?

In [12]:

# Calcula o volume total para cada ação
volume_total_por_acao = df.groupby('Name')['volume'].sum()

# Encontra a ação mais negociada
acao_mais_negociada = volume_total_por_acao.idxmax()
maior_volume_negociado = volume_total_por_acao.max()

print(f"Ação mais negociada em volume de transações: {acao_mais_negociada}")
print(f"Maior volume negociado: {maior_volume_negociado}")

Ação mais negociada em volume de transações: BAC
Maior volume negociado: 117884953591

## Pergunta 9
## Quantas ações começam com a letra “A”?

In [30]:
# Filtra as ações que começam com a letra "A"
acoes_com_a = df[df['Name'].str.startswith('A')]

# Conta o número de ações distintas que começam com "A"
num_acoes_distintas_com_a = acoes_com_a['Name'].nunique()

print(f"Número de ações distintas que começam com a letra 'A': {num_acoes_distintas_com_a}")

Número de ações distintas que começam com a letra 'A': 59

## Pergunta 10
## Com qual frequência o preço mais alto do dia da ação também é o preço de fechamento?

In [14]:
# Calcula a frequência
frequencia_precos_iguais = (df['high'] == df['close']).sum()

# Calcula a proporção em relação ao número total de registros
proporcao_precos_iguais = frequencia_precos_iguais / len(df)

print(f"Frequência de preço mais alto igual ao preço de fechamento: {frequencia_precos_iguais} vezes")
print(f"Proporção: {proporcao_precos_iguais:.2%}")

Frequência de preço mais alto igual ao preço de fechamento: 7420 vezes
Proporção: 1.20%

## Pergunta 11
## Em qual dia a ação da Apple mais subiu entre a abertura e o fechamento, de forma absoluta?

In [15]:
# Filtra o DataFrame para incluir apenas a ação da Apple (AAPL)
aapl_df = df[df['Name'] == 'AAPL']

# Cria uma nova coluna com a diferença absoluta entre fechamento e abertura
aapl_df['dif_abs'] = abs(aapl_df['close'] - aapl_df['open'])

# Encontra o dia em que a ação da Apple mais subiu em termos absolutos
dia_max_subida_absoluta = aapl_df.loc[aapl_df['dif_abs'].idxmax()]['date']
subida_maxima_absoluta = aapl_df['dif_abs'].max()

print(f"Dia em que a ação da Apple mais subiu em termos absolutos: {dia_max_subida_absoluta}")
print(f"Subida máxima em termos absolutos: {subida_maxima_absoluta}")

Dia em que a ação da Apple mais subiu em termos absolutos: 2015-08-24 00:00:00
Subida máxima em termos absolutos: 8.25

## Pergunta 12
## Em média, qual o volume diário de transações das ações da AAPL?

In [17]:
# Filtra o DataFrame para incluir apenas a ação da Apple (AAPL)
aapl_df = df[df['Name'] == 'AAPL']

# Calcula a média do volume diário de transações em milhões
media_volume_diario_aapl_milhoes = aapl_df.groupby('date')['volume'].mean() / 1000000

# Calcula a média geral do volume diário em milhões
media_geral_volume_diario_aapl_milhoes = media_volume_diario_aapl_milhoes.mean()

print(f"Média do volume diário de transações das ações da AAPL (em milhões): {media_geral_volume_diario_aapl_milhoes:.2f} milhões")

Média do volume diário de transações das ações da AAPL (em milhões): 54.05 milhões

## Pergunta 13
## Quantas ações tem 1, 2, 3, 4 e 5 caracteres em seu nome, respectivamente?

In [26]:
# Cria uma nova coluna com o comprimento dos nomes das ações
df['length_name'] = df['Name'].apply(lambda x: len(str(x)))

# Conta a quantidade de ações distintas por comprimento de nome
contagem_acoes_por_comprimento = df.groupby('length_name')['Name'].nunique()

print("Número de ações distintas por comprimento de nome:")
for comprimento, contagem in contagem_acoes_por_comprimento.items():
    print(f"{comprimento} caracteres: {contagem} ações distintas")

Número de ações distintas por comprimento de nome:
1 caracteres: 10 ações distintas
2 caracteres: 50 ações distintas
3 caracteres: 323 ações distintas
4 caracteres: 117 ações distintas
5 caracteres: 5 ações distintas

## Pergunta 14
## Qual a ação menos negociada da bolsa, em volume de transações?

In [22]:
# Calcula o volume total para cada ação
volume_total_por_acao = df.groupby('Name')['volume'].sum()

# Encontra a ação menos negociada
acao_menos_negociada = volume_total_por_acao.idxmin()
menor_volume_negociado = volume_total_por_acao.min()

print(f"Ação menos negociada em volume de transações: {acao_menos_negociada}")
print(f"Menor volume negociado: {menor_volume_negociado}")

Ação menos negociada em volume de transações: APTV
Menor volume negociado: 92947779

## Pergunta 15
## Qual dessas afirmações NÃO ilustra uma diferença entre as abstrações RDD e Dataframe?    

Computações com Dataframes podem ser mais eficientes que com RDDs, pelo fato do Spark conhecer as colunas sobre as quais vai opera    r    .

O Dataframe suporta diretamente manipulação de colu    n    as.

O Dataframe não é tolerante a falhas, enquanto o RDD sim (O “R” é de “resilie    n    te”).

O RDD tem uma API mais flexível e livre que o Dataframe, dado que ele trabalha com objetos arbitrários.

## Resposta: 
### O Dataframe não é tolerante a falhas, enquanto o RDD sim (O “R” é de “resiliente”).rários.

FIM